<!DOCTYPE html>
<html>
    <head>
        {% load static%}
        <!--<script src="{% static 'script.js'%}"></script>-->
        <script src="{% static 'script.js'%}"></script>
        <link rel="stylesheet" href="{% static 'style.css'%}">
        
        <script>
            const CSRF_TOKEN = '{{ csrf_token }}';
        </script>
    </head>
    <body onload="reset()"><!--onload="test()"-->
        <div class="chessboardcontainer">
            <table style="margin:auto">
                <tr>
                    <td>
                        <table class="verticalsideboard">
                            <tr class="verticalsiderow"><td class="verticalsidecell"><div class="sidespan">8</div></td></tr>
                            <tr class="verticalsiderow"><td class="verticalsidecell"><div class="sidespan">7</div></td></tr>
                            <tr class="verticalsiderow"><td class="verticalsidecell"><div class="sidespan">6</div></td></tr>
                            <tr class="verticalsiderow"><td class="verticalsidecell"><div class="sidespan">5</div></td></tr>
                            <tr class="verticalsiderow"><td class="verticalsidecell"><div class="sidespan">4</div></td></tr>
                            <tr class="verticalsiderow"><td class="verticalsidecell"><div class="sidespan">3</div></td></tr>
                            <tr class="verticalsiderow"><td class="verticalsidecell"><div class="sidespan">2</div></td></tr>
                            <tr class="verticalsiderow"><td class="verticalsidecell"><div class="sidespan">1</div></td></tr>
                        </table>
                    </td>
                    <td>
                        <table id="chessboard" class="chessboard">
                            
                        </table>
                    </td>
                    <td>
                        <div id="cp_black"></div>
                        <div id="myProgress">
                            
                            <div id="myBar"></div>
                            
                        </div>
                        <div id ="cp_white"></div>
                    </td>
                    <td>
                        <div>Best moves</div>
                        <div id="move_1"></div>
                        <div id="move_2"></div>
                        <div id="move_3"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>

                        </div>
                    </td>
                    <td>
                        <table class="horizzontalsideboard">
                            <tr class="horizzontalsiderow">
                                <td class="horizzontalsidecell"><div class="sidespan">A</div></td>
                                <td class="horizzontalsidecell"><div class="sidespan">B</div></td>
                                <td class="horizzontalsidecell"><div class="sidespan">C</div></td>
                                <td class="horizzontalsidecell"><div class="sidespan">D</div></td>
                                <td class="horizzontalsidecell"><div class="sidespan">E</div></td>
                                <td class="horizzontalsidecell"><div class="sidespan">F</div></td>
                                <td class="horizzontalsidecell"><div class="sidespan">G</div></td>
                                <td class="horizzontalsidecell"><div class="sidespan">H</div></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>