<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <button name="free_moves" id = "free_moves" onclick="redirectFreeMoves()">Free Moves</button>
    <button name="free_moves" id = "free_moves" onclick="redirectEvaluation()">Move Evaluation</button>
</body>
<script>
    function redirectFreeMoves(){
        window.location.href = "freemoves/";
    }
    function redirectEvaluation(){
        window.location.href = "move_evaluation/";
    }
</script>
</html>