body{
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
}
html{
    height: 100%;
}

.chessboardcontainer{
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    /*vertical align*/
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.chessboard{
    width:804px;
    height:804px;
    /*box-sizing: border-box;*/
    border: 4px solid black;
    border-collapse: collapse;
    padding: 0;
    /*margin: 0;*/
    /*margin-left: auto;
    margin-right: auto;*/
    margin: auto;
    /*display: block;*/
    
}

.chessrow{
    box-sizing: border-box;
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    width: 800px;
    height: 100px;
    display: block;
}
.chesscell{
    width:100px;
    height:100px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

.verticalsideboard{
    width:104px;
    height:804px;
    /*box-sizing: border-box;*/
   /* border: 4px solid black;*/
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    margin: auto;
}
.verticalsiderow{
    box-sizing: border-box;
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    height: 100px;
}
.verticalsidecell{
    width:100px;
    height:100px;
    /*border: 1px solid black;*/
    box-sizing: border-box;
    padding: 0;
    display: inline-block;
    position: relative;
    
}
.sidespan{
    position: relative;
    font-size:40px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.horizzontalsideboard{
    width:800px;
    height:100px;
    /*box-sizing: border-box;*/
    /*border: 4px solid black;*/
    border-collapse: collapse;
    padding: 0;
    /*margin: auto;*/
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.horizzontalsiderow{
    box-sizing: border-box;
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    height: 100px;
    width: 800px;
    margin: auto;
}
.horizzontalsidecell{
    width:100px;
    height:100px;
    /*border: 1px solid black;*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    
}


/*background for black cells*/
.blackback{
    background-color: rgb(44, 44, 44);
}

/*background for white cells*/
.whiteback{
    background-color: whitesmoke;
}

/*div for piece images*/
.imgdiv{
    box-sizing: border-box;
    display: inline-block;
    border: none;
    /*border: 1px solid red;*/
    width: 100px;
    height: 100px;
    padding: 0;
    margin-left: -1px;
    margin-top: -1px;
}
.imgdiv.over {
    border: 3px dotted rgb(180, 40, 40);
}

#myProgress {
    width: 50px;
    background-color: whitesmoke;
    height: 800px;
}
  
#myBar {
    width: 50px;
    height: 50%;
    background-color: rgb(44, 44, 44);
}
#cp_white{
    transform: translate3d(25%,-50px,0);
    color:rgb(44, 44, 44);
}
#cp_black{
    transform: translate3d(25%,50px,0);
    color:whitesmoke;
}